@charset "UTF-8";

body {
	background-image:url(cadillac.gif);
	background-repeat: no-repeat;
}

fieldset.scheduler-border {
    border: 2px groove red !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
}

.retour-affichage {
	
	margin-left:300px;
}

label {
	width : 200px;
	font-weight: bold;
	color: black;
	margin-bottom:0.5em;
	margin-left : 300px;
}

p {
	font-weight: bold;
	font-size:20px;
	color:blue;
	text-align: left;
}

form div input {
	margin-left :10px;
	margin-bottom :10px;
	border-color:blue;
}

.titre {
	font-weight: bold;
	font-size:24px;
	color:green;
	text-align: center;
}
.bouton {
	margin-left:300px;
}

fieldset {
	border: 1px #ff0000 solid;
}

form label {
	float:left;
	width:140px;
	margin-bottom:0.5em;
	font-weight:bold;
}

